name: ci-unstable
on:
  workflow_dispatch: # allows manual triggering
  pull_request:
    branches:
      - master
  # Run nightly to catch any new regressions introduced by changes upstream
  schedule:
    - cron: '0 2 * * *'
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - run: nix flake check --print-build-logs --override-input nixpkgs github:nixos/nixpkgs
